<h1>New Post</h1>

<%= simple_form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.input :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.input :content, as: :text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  </div>
<% end %>
